#Opens up the ITEM_TO_POT mapping to add new pot decorations to
public-f net.minecraft.world.level.block.entity.DecoratedPotPatterns ITEM_TO_POT_TEXTURE

#Opens up definitions to allow custom noteblock sounds
public net.minecraft.world.level.block.state.properties.NoteBlockInstrument
public net.minecraft.world.level.block.state.properties.NoteBlockInstrument$Type